#include "zppwin.h"
#include "windows.h"

IDC_ZICON ICON DISCARDABLE "zmesh/z.ico"

IDD_NEW DIALOG DISCARDABLE  0, 0, 400, 300
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Zinc 3.6 (Zpp) Graph"
FONT 10, "MS Sans Serif"
//FONT 10, "Fixedsys"
BEGIN
    LTEXT           "",IDC_PIC,          10, 10, 380, 280
    PUSHBUTTON      "Prev",IDC_PREV,     10,290, 20,8
    PUSHBUTTON      "Next",IDC_NEXT,     30,290, 20,8
END

IDD_MAIN DIALOG DISCARDABLE  0, 0, 400, 225
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Zinc 3.6 (Zpp)"
FONT 10, "MS Sans Serif"
//FONT 10, "Fixedsys"
BEGIN
    LTEXT           "Path:",IDC_STATIC,          10, 10, 40, 8
    LTEXT           "(none)",IDC_PATH,           50, 10,140, 8

    GROUPBOX        "Input files",IDC_STATIC,     7, 20,190,30

    LTEXT           "Zpp",IDC_STATIC,      10, 30, 40, 8
    LTEXT           "(none)",IDC_FILENAME,       50, 30,100, 8
    PUSHBUTTON      "view",IDC_VFILE,           170, 30, 20, 8

    LTEXT           "Sol'n",IDC_STATIC,     10,40, 40, 8
    LTEXT           "(none)",IDC_OUTNAME,         50,40,100, 8

// zinc input files

    GROUPBOX        "Zinc input files",IDC_STATIC,     7, 55,190,40

    LTEXT           "Input",IDC_STATIC,    10, 65, 40, 8
    LTEXT           "(none)",IDC_ZINNAME,       50, 65,100, 8
    PUSHBUTTON      "view",IDC_VZIN,            170,65, 20, 8

    LTEXT           "Mesh",IDC_STATIC,     10, 75, 40, 8
    LTEXT           "(none)",IDC_MESHNAME,       50, 75,100, 8
    PUSHBUTTON      "view",IDC_VMESH,            170,75, 20, 8

    LTEXT           "Constants",IDC_STATIC,  10, 85, 40, 8
    LTEXT           "(none)",IDC_CONSTNAME,        50, 85,100, 8
    PUSHBUTTON      "view",IDC_VCONST,            170, 85, 20, 8


//    GROUPBOX        "Output files",IDC_STATIC,    7, 95,190,45

    LTEXT           "Gnuplot",IDC_STATIC,  10, 100, 40, 8
    LTEXT           "(none)",IDC_GNUNAME,        50, 100,100, 8
    PUSHBUTTON      "view",IDC_VGNU,             170,100, 20, 8

    LTEXT           "Graph files:",IDC_STATIC,    10,110, 80, 8
    LISTBOX         IDC_VLST,                      10,120, 385,80, LBS_NOTIFY | WS_VSCROLL | WS_BORDER

    LTEXT           "Status:",IDC_STATIC,        40,197, 40, 8
    LTEXT           "READY",IDC_STATUS,          80,197,100, 8

    PUSHBUTTON      "&Open",IDC_OPEN,             7,210, 50,14
    PUSHBUTTON      "&Run",IDC_RUN,              60,210, 50,14
    PUSHBUTTON      "&Dismiss",IDC_CANCEL,       113,210, 50,14

    EDITTEXT        IDC_EDIT,                   200,2,195,110,WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY

    PUSHBUTTON      "&Graph",IDC_GRAPH,             340,210, 50,14
END

