#include <windows.h>

100 MENU
BEGIN
   POPUP "&File"
   BEGIN
      MENUITEM "&Open MIN", 105
      MENUITEM "Open MT&F", 104
      MENUITEM "Open &ZOU", 109
      MENUITEM "Open &RESID", 120
      MENUITEM "&View MIN", 106, GRAYED
      MENUITEM "&Process", 107, GRAYED
      MENUITEM "E&xit", 101
   END

   POPUP "&View"
   BEGIN
      MENUITEM "&Bounding Box", 102, GRAYED
      MENUITEM "&Show extra", 112, GRAYED
      MENUITEM "&Distort", 114
      MENUITEM "Show &Gridlnes", 113
      MENUITEM SEPARATOR
      MENUITEM "E&xport View", 103, GRAYED
      MENUITEM "&Copy View", 108, GRAYED
   END

   POPUP "&Help"
   BEGIN
      MENUITEM "&Help", 110
      MENUITEM "&About", 111
   END
END

200 DIALOG DISCARDABLE 0,0,300,90
CAPTION "Bounding Box"
BEGIN
  LTEXT "imin",-1,   10,10,30,10
  EDITTEXT    203,   50,10,50,10,ES_NUMBER

  LTEXT "imax",-1,  110,10,30,10
  EDITTEXT    204,  150,10,50,10,ES_NUMBER

  LTEXT "",   209,  210,10,100,10

  LTEXT "jmin",-1,   10,30,30,10
  EDITTEXT    205,   50,30,50,10,ES_NUMBER

  LTEXT "jmax",-1,  110,30,30,10
  EDITTEXT    206,  150,30,50,10,ES_NUMBER

  LTEXT "",   210,  210,30,100,10

  LTEXT "kmin",-1,   10,50,30,10
  EDITTEXT    207,   50,50,50,10,ES_NUMBER

  LTEXT "kmax",-1,  110,50,30,10
  EDITTEXT    208,  150,50,50,10,ES_NUMBER

  LTEXT "",   211,  210,50,100,10

  DEFPUSHBUTTON "&OK", 201,  10,70,  50,14
  PUSHBUTTON "&Cancel",202,  70,70,  50,14
  PUSHBUTTON "&All",   212, 130,70,  50,14
  PUSHBUTTON "&One",   213, 190,70,  50,14
END

300 DIALOG DISCARDABLE 0,0,200,50
CAPTION "Set Colour"
BEGIN
  LTEXT "Red",-1,    10,10,20,10	
  EDITTEXT    301,   30,10,30,10,ES_NUMBER

  LTEXT "Green",-1,  70,10,20,10
  EDITTEXT    302,   90,10,30,10,ES_NUMBER

  LTEXT "Blue",-1,  130,10,20,10
  EDITTEXT    303,  150,10,30,10,ES_NUMBER

  DEFPUSHBUTTON "&OK", 304,  10,30,  50,14
  PUSHBUTTON "&Cancel",305,  70,30,  50,14
END

400 DIALOG DISCARDABLE 0,0,200,220
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "File View"
BEGIN
    LTEXT "File:"  -1,  10,5,15,10
    LTEXT ""      403,  25,5,170,10

   DEFPUSHBUTTON "&OK", 402,   75,205, 50,15
    EDITTEXT   401,  0,20,  195,180,  WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY
END

500 DIALOG DISCARDABLE 0,0,335,220
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Help"
BEGIN
   DEFPUSHBUTTON "&OK", 502,   150,202, 50,15
   EDITTEXT   501,  5,5,  330,195,  WS_CHILD | WS_VISIBLE | WS_VSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY
END


600 DIALOG DISCARDABLE 0,0,150,90
CAPTION "Distort"
BEGIN
  LTEXT "x scale",-1,   10,10,30,10
  EDITTEXT    601,   50,10,50,10,ES_NUMBER

  LTEXT "y scale",-1,   10,30,30,10
  EDITTEXT    602,   50,30,50,10,ES_NUMBER

  LTEXT "z scale",-1,   10,50,30,10
  EDITTEXT    603,   50,50,50,10,ES_NUMBER

  DEFPUSHBUTTON "&OK", 604,  10,70,  50,14
  PUSHBUTTON "&Cancel",605,  70,70,  50,14
END

700 DIALOG DISCARDABLE 0,0,200,50
CAPTION "Set upper limit for colour legend"
BEGIN
  LTEXT "Upper limit",-1,   10,10,60,10
  EDITTEXT    701,   80,10,50,10

  DEFPUSHBUTTON "&OK", 702,  10,30,  50,14
  PUSHBUTTON "&Cancel",703,  70,30,  50,14
  PUSHBUTTON "&Max",   704, 130,30,  50,14
END

800 DIALOG DISCARDABLE 0,0,200,50
CAPTION "Set lower limit for colour legend"
BEGIN
  LTEXT "Lower limit",-1,   10,10,60,10
  EDITTEXT    801,   80,10,50,10

  DEFPUSHBUTTON "&OK", 802,  10,30,  50,14
  PUSHBUTTON "&Cancel",803,  70,30,  50,14
  PUSHBUTTON "&Min",   804, 130,30,  50,14
END

999 ICON DISCARDABLE "z.ico"

